<footer class="footer">
    <div class="container footer-content">

        <p class="footer-text">
            © 2026 Projects Portal · Fernando Rioseco
        </p>

        <div class="footer-links">
            <a
                href="https://github.com/fer78"
                target="_blank"
                rel="noopener noreferrer"
            >
                GitHub
            </a>
            <a
                href="https://fernandorioseco.es"
                target="_blank"
                rel="noopener noreferrer"
            >
                Blog
            </a>
            <a
                href="https://www.linkedin.com/in/fernandorioseco/"
                target="_blank"
                rel="noopener noreferrer"
            >
                LinkedIn
            </a>
        </div>

    </div>
</footer>