<nav class="navbar">
    <div class="container">

        <a href="/" class="navbar-brand">
            Projects Portal
        </a>

        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="#projects">Projects</a></li>
            <li>
                <a
                    href="https://github.com/fer78"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    GitHub
                </a>
            </li>
            <li>
                <a
                    href="https://fernandorioseco.es"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Blog
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/fernandorioseco/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    LinkedIn
                </a>
            </li>
        </ul>

    </div>
</nav>