<section id="tech-stack" class="tech-stack">
    <div class="container">

        <!-- Grid de tecnologías -->
        <div class="tech-grid">

            <!-- Linux -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/linux.png') }}"
                    alt="Linux"
                >
                <span>Linux</span>
            </div>

            <!-- Docker -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/docker.png') }}"
                    alt="Docker"
                >
                <span>Docker</span>
            </div>

            <!-- Flask -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/flask.png') }}"
                    alt="Flask"
                >
                <span>Flask</span>
            </div>

            <!-- Nginx -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/nginx.png') }}"
                    alt="Nginx"
                >
                <span>Nginx</span>
            </div>

            <!-- PostgreSQL -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/postgresql.png') }}"
                    alt="PostgreSQL"
                >
                <span>PostgreSQL</span>
            </div>

            <!-- Redis -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/python.png') }}"
                    alt="Python"
                >
                <span>Python</span>
            </div>

            <!-- Power BI -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/machine-learning.png') }}"
                    alt="Power BI"
                >
                <span>Machine Learning</span>
            </div>

            <!-- Python -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/gradio.png') }}"
                    alt="Gradio"
                >
                <span>Gradio</span>
            </div>

            <!-- LangChain -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/langchain.png') }}"
                    alt="LangChain"
                >
                <span>LangChain</span>
            </div>

            <!-- Machine Learning -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/streamlit.png') }}"
                    alt="Streamlit"
                >
                <span>Streamlit</span>
            </div>

            <!-- FastAPI -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/fastapi.png') }}"
                    alt="FastAPI"
                >
                <span>FastAPI</span>
            </div>
            <!-- Python -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/pandas.png') }}"
                    alt="Gradio"
                >
                <span>Pandas</span>
            </div>

            <!-- LangChain -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/numpy.png') }}"
                    alt="LangChain"
                >
                <span>Numpy</span>
            </div>

            <!-- Machine Learning -->
            <div class="tech-item" style="padding-top: 1.2rem;">
                <img
                    src="{{ url_for('static', filename='img/scikit-learn.png') }}"
                    alt="Scikit-Learn"
                    style="margin-bottom: 1.7rem";
                >
                <span>Scikit-Learn</span>
            </div>

            <!-- FastAPI -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/llamaindex.png') }}"
                    alt="llamaindex"
                >
                <span>Llamaindex</span>
            </div>

            <!-- Python -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/pytorch.png') }}"
                    alt="Pytorch"
                >
                <span>Pytorch</span>
            </div>

            <!-- LangChain -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/huggingface.png') }}"
                    alt="Hugging Face"
                >
                <span>huggingface</span>
            </div>

            <!-- Machine Learning -->
            <div class="tech-item">
                <img
                    src="{{ url_for('static', filename='img/openai.png') }}"
                    alt="OpenAI"
                >
                <span>OpenAI API</span>
            </div>

        </div>
    </div>
</section>